@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew&display=swap');

body{
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.container{
    margin: auto;
    text-align: center;
    max-width: 600px;
    margin-top: 5rem;
    border: 2px solid;
    border-radius: 0.5rem;
    background-color: #ccdbfd;
}

.stock{
    width: 45%;
    height: 2.2rem;
    border: 2px solid #9ef01a;
    border-radius: 0.5rem;
}

#check-btn{
    margin-top: 2rem;
    height: 2rem;
    width: 15%;
    border: 2px solid #9ef01a;
    font-weight: 600;
}

#output{
    margin-top: 1.5rem;
}
